<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/dogsEdit.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rammetto+One&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <title>Edit Dog</title>
</head>
<body>
    <h1>Edit <%=dog.name%></h1>
    <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST">
        <!--input for fullName-->
        Dog Name: <br>
        <input type="text" name="name" value="<%=dog.name%>"
        placeholder="add full name here">
        <br> Dog Age:
        <br><input type="text" name="age" value="<%=dog.age%>"
        placeholder="add age here">
        <br> Dog Breed:
        <br><input type="text" name="breed" value="<%=dog.breed%>"
        placeholder="add breed here">
        <br>Dog is fixed:
        <input name="Dog is fixed" type="checkbox"/>
        <!--input for our submit-->
        <br>
        <div class="buttons3">
        <button style="font-size:22px"> Edit Dog <i class="fa fa-paw"></i></button>
        </div>
    </form> 
    <div class="buttons1">
    <form action="/dogs/<%=dog._id%>?_method=DELETE" method="POST">
        <button style="font-size:22px">Delete this dog <i class="fa fa-paw"></i></button>
     </div>   
    </form>
    <div class="buttons2">   
        <button style="font-size:22px"><a href = "/dogs">Dog's Page</a> <i class="fa fa-paw"></i></button>
    </div> 
</body>
</html>